@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2E3532;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 50vw;
  border-radius: 0.35rem;
  height: auto;
  background-color: #558B6E;
  padding:40px 20px 0 20px;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

h1{
  font-size: 22px;
}

span:first-child{
  color: #8B2635;
}

span:last-child{
  color: #D2D4C8;
  display: block;
}

h2{
    text-transform: lowercase;
    font-size: 20px;
    padding: 10px 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}
