<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/thanks.css')}}">
    <title>Project Showcase</title>
</head>
<body>
    <div class="container">
        <h1>Thank you <span>{{name}}</span> for filling out this form for : <span>Piedmont Open IB middle school Programming Club project showcase questionnaire</span></h1>
        <h2><a href="https://www.github.com/NebulousCalm/ibshowcase">Source code</a> made entirely by <a href="https://www.github.com/NebulousCalm">me</a>.</h2>
    </div>
</body>
</html>
